.game-board-wrapper {
	height: fit-content;
}

.game-board {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin: 20px auto;
	padding: 2rem;
}

.tile {
	border: solid black 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100px;
	font-size: 4rem;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
